.radio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--black);
}

.radio-el {
  padding: 0.25rem 0.45rem 0.35rem 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--black);
  border-radius: 10px;
}

.fav-lang-title {
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--black);
}

@media (hover: hover) {
  .radio-el:hover {
    font-weight: 600;
  }
}

@media screen and (max-width: 600px) {
  .radio-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .radio-el {
    width: 80%;
    align-items: space-around;
  }
  .radio-el input {
    justify-self: flex-end;
    flex-grow: 0;
  }
  .radio-el label {
    text-align: left;
    flex-grow: 2;
  }
}
