/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Global Variables */
:root {
  --white: rgb(222, 222, 222);
  --black: #141414;
  --accent: rgb(127, 255, 212);
}
/* Main elements styling */
/* Containers */
*,
*:before,
*:after {
  box-sizing: border-box;
  transition: all ease 0.25s;
}
html,
body {
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
  color: var(--white);
}
body {
  background-color: var(--black);
}

main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  padding: 3rem 3rem 4rem 3rem;
  border-top: 1px solid var(--accent);
  gap: 2rem;
}
/* Headers */
h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--accent);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.5rem;
}
/* Body Text */
p,
a,
header,
footer {
  font-size: 1rem;
}

a {
  color: var(--accent);
  font-style: italic;
  transition: all ease 0.5s;
}
a:active {
  font-weight: 600;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

form {
  background-color: var(--accent);
  color: var(--black);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 1rem;
  padding: 2rem 2rem 2.5rem 2rem;
}

legend {
  color: var(--black);
  font-size: 1.5rem;
}

label {
  padding: 0.5rem;
}

input {
  font-family: 'IBM Plex Sans', sans-serif;
  border: none;
  padding: 0.5rem;
  text-transform: uppercase;
}

input[type='radio'] {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: var(--black);
  outline: none;
  cursor: pointer;
  transition: all ease 0.5s;
}
input[type='radio']:after {
  background-color: var(--white);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  content: '';
  display: block;
  position: relative;
  bottom: calc(0.5rem / 2);
  right: calc(0.5rem / 2);
}
input[type='radio']:checked:after {
  background-color: var(--black);
}

input[type='submit'] {
  background-color: var(--black);
  color: var(--white);
  font-weight: 600;
  transition: all ease 0.25s;
  align-self: center;
  border-radius: 10px;
}

input[type='submit']:active {
  transform: scale(1.1);
}

@media (hover: hover) {
  a:hover {
    font-weight: 600;
  }
  input[type='submit']:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
  }
  input[type='radio']:hover {
    transform: scale(1.1);
  }
}
